.a-input {
  font-size: var(--a-font-size, 16px);
  gap: 0.5em;
  border: 1px solid var(--a-c-theme-500);
  border-radius: 0.2em;
  padding: 0.5em 0.75em;
  outline: 0 solid var(--a-c-theme-300);
  transition: all 0.3s linear;
}

.a-input-field {
  accent-color: var(--a-c-theme-500);
}

.a-input-field[type="color"] {
  appearance: none;
  height: 1em;
}
.a-input-field[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.a-input-field[type="color"]::-webkit-color-swatch {
  border: none;
}

.a-input:not(.a-info):not(.a-success):not(.a-warning):not(.a-danger):not(:focus-within) {
  border: 1px solid var(--a-c-gray-300);
}
.a-input:has(.a-input-field[type="range"]) {
  border: none !important;
}

.a-input:focus-within {
  outline: 1px solid var(--a-c-theme-300);
}

.a-fl-label {
  --floating-pos-top: calc(-0.5em - 3px);
  --floating-pos-left: 0.6em;
  background: inherit;
  transform-origin: 0 50%;
  transform: scale(1);
  opacity: 0.6;
}
.a-input-is-floating > .a-fl-label {
  padding: 0 0.3em;
  transform: scale(0.7);
  backdrop-filter: blur(1em);
  opacity: 1;
}
