.a-input {
  --font-size: 16px;
  gap: calc(var(--font-size) / 2);
}
.a-input:focus-within {
  outline: 1px solid var(--ac-theme-300);
}

.a-input.xl {
  --font-size: 28px;
}
.a-input.lg {
  --font-size: 20px;
}
.a-input.md {
  --font-size: 16px;
}
.a-input.sm {
  --font-size: 10px;
}
