.a-select__dropdown {
  background-color: #fff;
  box-shadow: 0px 9px 8px 3px #ebebeb;
  border: 1px solid rgb(199, 199, 199);
  padding: 3px 0;
}

.a-select__dropdown--top {
  box-shadow: 0px -9px 8px 3px #ebebeb;
}

.a-select__filter {
  padding: 0.3em 0.6em;
  padding-top: 0;
  box-shadow: 0px 2px 2px 0px #e5e5e5;
}

.a-select__filter-input {
  border: none;
}

.a-select__option {
  padding: 9px 12px;
}

.a-select__option--hovered {
  background-color: #f5f5f5;
}
.a-select__option--active {
  background-color: #f1f1f1;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  font-weight: bold;
}
.a-select__option--active:hover {
  background-color: #f1f1f1;
}

.a-select__arrow {
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #8f8f8f transparent transparent transparent;
}

.a-select__filter-input,
.a-select__filter-input:focus {
  padding: 4px 7px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: none;
}
