.a-select {
  cursor: pointer;
}

.a-select:focus {
}
.a-select-field {
  cursor: pointer;
}

.a-select__dropdown {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 9;
}

.a-select__dropdown--top {
  top: auto;
  bottom: calc(100% + 3px);
}

.a-select__option {
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.a-select__arrow {
  width: 0;
  height: 0;
}

.a-select__dropdown-fixed {
  max-height: 188px;
  padding: 4px 0;
  overflow-y: auto;
}
